* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*Style for the body*/
body {
    font-size: 16px;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    color: #5143BA ;
    background-color:  #f3f8f8;
}

/* Main */
main {
    padding: 0 2%;
    min-height: 20rem;
    border:solid #5143BA;
    border-radius: 5px;
    border-width: 1rem;
    text-align: center;
    

}

h1 {
    text-align: center;
    color: mediumspringgreen;
    border:solid black;
    border-radius:blue ;
}

